@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 40px;
  width: 1200px;
  flex-grow: 1;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
  max-height: 64px;
  max-width: 1060px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-list .navigation-link {
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0;
  width: 300px;
  list-style: none;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.navigation-link-current::before {
  position: absolute;
  background-color: #756257;
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: -1px;
  content: '';
}

.navigation-user .navigation-link {
  padding: 23px 12px;
}

.navigation-item .button {
  max-width: 160px;
  padding: 8px 34px;
  margin-left: 20px;
}

.likes-number {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
}

.hero {
  background-image: url('../images/divider.svg'), url('../images/index-background.jpg');
  background-color: #000000;
  background-size:
    100% auto,
    cover;
  background-repeat: no-repeat;
  background-position:
    left bottom,
    left top;
}

.picture {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  padding-top: 69px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0 auto;
}

.advantages-item {
  text-align: center;
  color: #ffffff;
  background: #82b3d3;
  width: 400px;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  justify-content: space-between;
}

.advantages-texts {
  padding: 100px 85px;
}

.advantages-city {
  display: flex;
  text-align: center;
  align-items: center;
}

.advantages-bridge {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.advantages-item:first-child,
.advantages-item:last-child {
  width: 1200px;
}

.advantages-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  margin: 0;
}

.advantages-light .advantages-description {
  color: #333333;
}

.advantages-middle {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-points {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-points::after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: -1px;
  content: '';
  width: 60px;
  margin: -30px auto;
}

.advantages-light-points::after {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: -1px;
  content: '';
  width: 60px;
  margin: -30px auto;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 69px;
}

.recommendations {
  margin-bottom: 96px;
}

.recommendations-promo {
  padding: 64px 0;
}

.recommendations-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 505px;
  margin: 0 auto;
}

.recommendations-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.recommendations-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  text-align: center;
  background: #83b3d31f;
  width: 400px;
  list-style-type: none;
  padding: 80px 85px;
}

.recommendations-light {
  background: #ffffff;
}

.recommendations-points {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.item-title-icon::before {
  content: '';
  display: block;
  width: 76px;
  height: 70px;
  margin: 0 auto 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-title-home::before {
  background-image: url('../images/advantage-home.svg');
}

.item-title-food::before {
  background-image: url('../images/advantage-food.svg');
}

.item-title-souvenir::before {
  background-image: url('../images/advantage-gift.svg');
}

.recommendations-description {
  color: #333333;
  margin: 0;
}

.booking {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 96px;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
}

.newsletter {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url('../images/sedona-bridge.jpeg');
  background-size: cover;
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 684px;
  height: 52px;
}

.footer-container {
  display: flex;
  width: 1060px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 48px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  color: #000000;
  transition: fill 250ms ease-in-out;
}

.footer-social-icon {
  fill: #83b3d3;
}

.footer-social-link:hover svg {
  fill: #68a2ca;
}

.footer-social-link:focus svg {
  fill: #68a2ca;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  color: #000000;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  transition: fill 250ms ease-in-out;
  text-decoration: none;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-link {
  fill: #000000;
}

.html-academy-link:hover,
.html-academy-link:focus svg {
  fill: #756157;
}

.html-academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.button {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 26px;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  box-sizing: border-box;
}

.newsletter-button {
  background: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border: transparent;
  box-sizing: border-box;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url('../images/catalog/catalog-search-background.jpeg');
  background-size: cover;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 auto 40px 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.breadcrumbs-item {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::after {
  content: '';
  display: block;
  width: 8px;
  height: 21px;
  background-image: url('../images/breadcrumbs.svg');
  background-repeat: no-repeat;
  margin-left: 10px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.filter-container {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 150px;
}

.control-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
}

.control-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.control-mark {
  position: relative;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus ~ .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-input[type='checkbox']:checked + .control-mark::before,
.control-input[type='checkbox']:checked + .control-mark::after {
  position: absolute;
  height: 2px;
  background-color: #3f5e72;
  content: '';
}

.control-input[type='checkbox']:checked + .control-mark::before {
  transform: rotate(-50deg);
  width: 11px;
  left: 7px;
  top: 10px;
}

.control-input[type='checkbox']:checked + .control-mark::after {
  transform: rotate(45deg);
  width: 8px;
  left: 3px;
  top: 12px;
}

.control-input[type='radio'] + .control-mark {
  border-radius: 50%;
}

.control-input[type='radio']:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: '';
}

.control-label {
  padding-left: 12px;
}

.hotel-price {
  padding-left: 70px;
  width: 288px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 36px;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.price-label-text {
  position: absolute;
  top: 50%;
  transform: translateY(-10px);
  left: 75%;
  color: #000000;
  opacity: 30%;
}

.range-input {
  width: 143px;
  height: 48px;
  padding-left: 20px;
  font: inherit;
  font-weight: 700;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: transparent;
}

.price-min {
  margin-right: 1px;
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item {
  line-height: 23px;
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.catalog-button {
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  border: transparent;
  cursor: pointer;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.button-submit {
  background-color: #82b3d3;
}

.button-submit:focus,
.button-submit:hover {
  background-color: #68a2ca;
}

.button-submit:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-reset {
  background: none;
  width: 100%;
}

.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-results {
  display: flex;
  align-items: center;
  width: 1060px;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.catalog-results-total {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 200px 0 0;
  text-transform: uppercase;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
}

.select-control {
  font: inherit;
  color: #333333;
  background-image: url('../images/catalog/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.controls-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.controls-container-item {
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  transition: fill 250ms ease-in-out;
}

.catalog-view-icon {
  fill: #000000;
}

.catalog-view-selected {
  border: 2px solid #000000;
}

.controls-container-item:hover {
  border: 2px solid #000000;
}

.controls-container-item:focus {
  border: 2px solid #68a2ca;
}

.controls-container-item:active {
  border: 2px solid #000000;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0 auto 80px;
  padding: 0;
  width: 1060px;
  gap: 20px;
  list-style-type: none;
  position: relative;
}

.hotels-list::after {
  position: absolute;
  background-color: #e6e6e6;
  height: 1px;
  right: 0;
  left: 0;
  bottom: -1px;
  content: '';
  width: 1060px;
  margin: -40px auto;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  color: #333333;
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.hotel-card-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-card-title {
  margin-top: 16px;
  margin-bottom: 0;
}

.hotel-card-price {
  margin: 0;
  text-align: right;
}

.hotel-card-type {
  margin: 0;
}

.favorite-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.favorite-button:focus,
.favorite-button:hover {
  background-color: #68a2ca;
}

.favorite-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.favorite-selected {
  background-color: #7db54f;
}

.favorite-selected:focus,
.favorite-selected:hover {
  background-color: #6c9e42;
}

.favorite-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.favorite-selected:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.star {
  display: flex;
  align-items: center;
}

.star-2::before {
  width: 43px;
}

.star-4::before {
  width: 89px;
}

.star-3::before {
  width: 66px;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url('../images/star.svg');
  background-repeat: space no-repeat;
  background-size: contain;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 9px 22px;
  border-radius: 4px;
  border: transparent;
}

.pagination {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  gap: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 11px 23px;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  display: block;
  width: 17px;
  padding: 16px 21px;
  text-align: center;
}

.newsletter-pure {
  color: #000000;
  background: #ffffff;
}

.newsletter-pure .newsletter-description {
  color: #333333;
}

.field {
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  width: 452px;
  box-sizing: border-box;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition:
    background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-show {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border: transparent;
  border-radius: 30px;
}

.modal-search {
  box-sizing: border-box;
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: 50%;
  background-image: url('../images/icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.search-form .field {
  width: 440px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
}

.search-form .field:hover {
  background-color: #e6e6e6;
}

.search-form .field:focus {
  outline: 3px solid #83b3d3;
}

.search-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.field-group {
  position: relative;
}

.calendar {
  position: absolute;
  background-image: url('../images/icon-calendar.svg');
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 15px;
  top: 16px;
  right: 17px;
  border: none;
  cursor: pointer;
  opacity: 30%;
  padding: 0;
}

.message {
  position: absolute;
  left: 206px;
  margin: 0;
  margin-top: 4px;
  padding: 0 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.error-message {
  color: #ff5757;
}

.customers-quantity {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.quantity-group {
  display: flex;
  justify-content: space-between;
  width: 247px;
}

.customers-quantity .field {
  width: 110px;
}

.quantity-group .search-form {
  text-align: center;
}

.search-form .field::-webkit-outer-spin-button,
.search-form .field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip {
  position: absolute;
  left: 0;
}

.info-button {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  left: 59px;
  transform: translateY(-13px);
  cursor: pointer;
  background-color: #83b3d3;
  background-image: url(../images/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
  border-radius: 50%;
}

.info-block-text {
  position: absolute;
  margin: 0;
  padding: 16px 20px;
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  width: 216px;
  top: 41px;
  left: -50px;
  z-index: 1;
  display: none;
}

.info-block-text::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  top: -9px;
  right: 124px;
  background-color: #333333;
  transform: rotate(45deg);
}

.info-button:hover + .info-block-text,
.info-button:focus + .info-block-text,
.info-button:active + .info-block-text {
  display: block;
}

.reduce-button {
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  top: 10px;
  left: 143px;
  cursor: pointer;
  background-color: transparent;
}

.reduce-button-image {
  fill: rgba(117, 97, 87, 0.3);
}

.reduce-button:hover .reduce-button-image {
  fill: #000000;
}

.reduce-button:focus .reduce-button-image {
  fill: #000000;
  border: 2px solid #82b3d3;
}

.increase-button {
  position: absolute;
  width: 14px;
  height: 14px;
  border: none;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
}

.increase-button-image {
  fill: rgba(117, 97, 87, 0.3);
}

.increase-button:hover .increase-button-image {
  fill: #000000;
  cursor: pointer;
}

.increase-button:focus .increase-button-image {
  fill: #000000;
  border: 2px solid #82b3d3;
}

.search-form-button {
  width: 577px;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  border: transparent;
  background-color: #83b3d3;
  cursor: pointer;
}

.search-form-button:hover {
  background-color: #68a2ca;
}
