@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 40px;
  width: 1200px;
  flex-grow: 1;
  background-color: #FFFFFF;
}

/*.main-container {*/
/*  flex-grow: 1;*/
/*}*/

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 339px;
  margin-left: 30px;
  padding: 0;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  width: 268px;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.navigation-item .button-small {
  background-color: #756157;
}

.hero {
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-color: #000000;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.picture {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item {
  text-align: center;
  color: #FFFFFF;
  background: #82B3D3;
  width: 400px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.advantages-city {
  display: flex;
  text-align: center;
}

.advantages-bridge {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item:first-child, .advantages-item:last-child {
  width: 1200px;
}

.advantages-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-light .advantages-description{
  color: #333333;
}

.advantages-middle {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-points {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.recommendations-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.recommendations-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.recommendations-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  text-align: center;
  background: #83B3D31F;
  width: 400px;
}

.recommendations-light {
  background: #FFFFFF;
}

.recommendations-points {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recommendations-description {
  color: #333333;
}

.booking {
  margin: 96px 304px;
  text-align: center;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.booking .button {
  background-color: #756157;
}

.newsletter {
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/sedona-bridge.jpeg");
  background-size: cover;
}

.newsletter-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter .button {
  background: #82B3D3;
}

.footer-container {
  display: flex;
  width: 1060px;
  align-items: center;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 142px;
}
.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog/catalog-search-background.jpeg");
  background-size: cover;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filter-container {
  display: flex;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.accommodation-type {
  margin-left: 70px;
}

.hotel-price {
  margin-left: 140px;
  margin-right: 70px;
  width: 288px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.button-small {
  font-family: inherit;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  text-transform: uppercase;
}

.button-reset {
  background-color: transparent;
}

.catalog-results {
  display: flex;
  align-items: center;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.catalog-results-total {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.select-control {
  font-family: inherit;
  color: #333333;
  background: #FFFFFF;
  margin-left: 200px;
  margin-right: 70px;
  width: 292px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-view {
  width: 48px;
}

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  gap: 20px
}

.hotel-card {
  color: #333333;
  width: 340px;
}

.hotel-card-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card .button-small {
  text-decoration: none;
  background-color: #756157;
}

.hotel-info {
  display: flex;
}

.rating {
  display: flex;
  align-items: center;
}

.favorite-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.favorite-selected {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter-pure {
  color: #000000;
  background: #FFFFFF;
}

.newsletter-pure .newsletter-description {
  color: #333333;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}
